.modal {
	width: 80% !important;
	height: 70% !important;
}
.modal .btn {
	margin-top: 1rem !important;
}
.card {
	min-height: 120vh !important;
	width: 95%;
}
.l-heading {
	font-size: 1.5rem !important;
	text-align: center;
}
.lead {
	font-size: 1.5rem !important;
}
#weather-card {
	margin: 2rem auto !important;
}
#weather-card .btn {
	margin-top: 2.5rem !important;
}
#weather-card .l-heading {
	margin-bottom: 3.5rem;
}
/* Iphone 10 and longer screens */
@media (min-height: 800px) {
	.card {
		min-height: 100vh !important;
		width: 95%;
	}
}
/* Iphone 5 and other smaller screens*/
@media (max-width: 350px) {
	.modal {
		text-align: center;
		width: 80% !important;
		height: 80% !important;
	}
	.modal .btn {
		margin-top: 1rem !important;
	}
	.card {
		min-height: 120vh !important;
		width: 95%;
	}
	body {
		overflow-y: visible !important;
	}
	.lead {
		font-size: 1rem !important;
	}
	#weather-card .btn {
		margin-bottom: 1rem;
	}
}
